<!DOCTYPE html>
<html>
<head>
<title>About page</title>
<%= stylesheet_link_tag 'application'%>
</head>
<body>
<br>
    <h1>Welcome to my Ruby about page!</h1>
    <nav class="navbar navbar-expand-sm bg-dark">

  <!-- Links -->
  <ul class="nav navbar-nav">
    <li>
        <%= link_to 'Home', root_path%>
    </li>
    <li>
      <%= link_to 'About', about_path%>
    </li>
  </ul>

</nav>

<br>
<%# <div Id = 'fantasy'>
    <%= image_tag('fantasy.jpg')%>
<%# </div>  %>


<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Est placerat in egestas erat imperdiet sed euismod nisi porta. Id volutpat lacus laoreet non. Nam at lectus urna duis convallis convallis tellus. Neque ornare aenean euismod elementum nisi. Dignissim diam quis enim lobortis scelerisque. Quis vel eros donec ac odio tempor orci. Neque vitae tempus quam pellentesque nec nam aliquam sem. Lorem sed risus ultricies tristique nulla aliquet enim. Sit amet justo donec enim diam vulputate ut pharetra. A scelerisque purus semper eget duis at tellus at urna. Pellentesque sit amet porttitor eget dolor morbi. Tellus in metus vulputate eu scelerisque felis imperdiet proin fermentum. Tempor orci dapibus ultrices in iaculis nunc. Dapibus ultrices in iaculis nunc sed augue lacus. Nunc mi ipsum faucibus vitae aliquet.
</p>

</body>
<footer>
    This is where text for the footer belongs
</footer>